.idea
.vs
.vscode
.spec
config.ini
objects
build
dist
spec
tools
log
analysis
operation_satatistisc.py
__pycache__
*.db
*.pyc
*.spec
packaging
packaging_cyx.py
001.py
!packaging/assets
!packaging/tools
*.log
test.air
photo.zip
Info.sqlite
static
backup_files
